<!DOCTYPE html>
<html lang="en">
    <head>
    <div class="container">
        <a href="{{path('app_home')}}" class='btn btn-danger'>Back</a>
    </div>
    </head>
<body>
    
    {# <div style="text-align: center"><img src="images/logo.png" alt="BTEC" height="130px"></div> #}
   
    <div style="text-align:justify; padding: 1% 6%">
        <span style="color: #fa6e4f;">GIỚI THIỆU CỬA HÀNG MÔ HÌNH FIGURE</span> 
        <br>
        Với phương châm kinh doanh hài lòng trước nhận tiền sau, Mô Hình Figure luôn cố gắng mang lại giá sản phẩm ổn định và đảm bảo có nguồn hàng sẵn cho quý khách hàng. Cố gắng vì khách hàng là động lực để cửa hàng cố gắng phát triển
        <br>
        <h4>Mục tiêu</h4>
        <ul>
            <li>Dem lai nhung san pham chat luong</li>
            <li>Kinh doanh minh bach</li>
            <li>Gia ca theo thi truong</li>
            <li>Cham soc khach hang tan tinh</li>
            <div style="text-align: center"><img src="images/mu.png.jpg" alt="", height="150px  "></div>
        </ul>
        <h4>Dac biet</h4>
        <ul>
            <li>Những mặt hàng đã có sẵn tại shop mà giá trị thị trường đã tăng lên tới gấp 3 4 lần thì tại shop vẫn sẽ luôn giữ nguyên giá cố định và cam kết với khách hàng không đội giá sản phẩm lên cao theo thị trường. ( đã có nhiều khách hàng trên thị trường kiểm chứng và đánh giá tốt về dịch vụ của chúng tôi )</li>
            <li>Hướng đi của Mô Hình Figure là luôn bán hàng theo giá cả cạnh tranh và tốt nhất trên thị trường mô hình figure Việt Nam, không để giá ảo hay giá độn lên nhằm mục đích câu khách hoặc tạo tiếng tăm ảo.</li>
            <li>Chúng tôi luôn có quan niệm mua bán phải minh bạch rõ ràng nên sẽ có giá niêm yết của cửa hàng và không lên xuống bất thường. ( Trừ các dịp khuyến mãi sản phẩm dành cho khách hàng thân thiết của shop )</li>
            <li>Luôn đặt giá trị cốt lõi của shop là sự uy tín và niềm tin về giá cả</li>
            <li>Mọi qúy khách hàng khi đến với Mô Hình Figure sẽ có những chính sách khuyến mãi liên tục và quyền lợi riêng của khách hàng thân thiết.</li>
            <div style="text-align: center"><img src="images/mu.png.jpg" alt="", height="150px  "></div>
        </ul>
        <span style="color: #fa6e4f;">LUÔN CÓ TÂM TRONG CÔNG VIỆC VÌ CHÚNG TÔI LÀ NHỮNG NGƯỜI CÓ CHUNG SỞ THÍCH SƯU TẬP GIỐNG NHƯ CÁC BẠN !</span>
        <h4>Mô hình figure là shop hàng đầu trong lĩnh vực Manga – Anime.</h4>
        <ul>
            <li>Nếu bạn là một trong những tín đồ của các bộ truyện manga hay anime thì chắc chắn không thể bỏ qua được những nhân vật mình yêu thích, mong muốn sở hữu và được ngắm nhìn mỗi ngày cũng là cách để giải tỏa tâm trạng rất tốt, những nhân vật đã gắn liên với tuổi thơ các bạn như thám tử Conan, chú mèo máy đến từ tương lại Doreamon, còn các nhân vật cộm cán trong bộ truyện nổi tiếng One Piece, Dragon Ball Z,…. và còn rất nhiều nhân vật trong các bộ truyện khác như Gintama, Kimetsu no Yaiba, SAO, Tokyo Ghoul,..v..,
                Còn nếu bạn là fan ruột của những thước phim hoạt hình Pixar, Disney: ToyStory, Incredible, Wall-e, Ice Age,… hay những bộ phim Hollywood bom tấn như Batman, Avenger, Ironman, Hulk,.. thì bạn cũng không thể bỏ qua vì tất cả đều có tại Figure Store
                
                Còn nếu bạn là fan ruột của những thước phim nổi tiếng đến từ hollywood như Mavell, DC hay các bộ phim nổi tiếng khác thì cũng không thể bỏ qua chúng mình, vì tại Mô Hình Figure đều có sẵn các nhân vật cộm cán nổi tiếng hiện nay nhé !</li>
        <div style="text-align: right"><i>https://mohinhfigure.com/</i></div>
        <h4>Mời các bạn Like shop tại địa chỉ</h4>
        <ul>
        <li>Facebook : https://www.facebook.com/mohinhfiguree để luôn cập nhật sản phẩm figure mới nhanh nhất.</li>
        <li>Hoặc ghé qua địa chỉ của Shop tại: 221/7/37, Đất Thánh,P.6 , Quận Tân Bình, TP.HCM </li>
        <li>Nhận ship hàng miễn phí trong nội thành Hồ Chí Minh (bán kính 2km) (áp dụng với đơn hàng trên 200.000).</li>
        <li>Với các đơn hàng trên website shop sẽ gọi điện xác nhận đơn hàng và báo phí ship cho khách hàng,hàng sẽ được khi sau khi khách đồng ý với phí ship.</li>
        <li>Ship hàng COD toàn quốc, chuyển phát nhanh phí hợp lý.</li>
        </ul>
        
    </div>
</body>
<footer>
    
</footer>
</html>